# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# terraform lock file
.terraform.lock.hcl

# terraform vars and plan files
terraform.tfvars
*.plan
*.tfplan

# Export and log files
crash.log
*.txt

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
